:root {
  --mainColor: #de0101;
  --mainColor20: #de010133;
  --mainColor05: #de01010d;
  --whiteColor: #ffffff;
  --darkColor: #0a0a0b;
  --darkColor2: #141416;
  --lightDarkColor: #1a1818;
  --lightGrayColor: #888b91;
  --lightBorderColor: #e1e1e1;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0 16px 32px 0 #071c1f1a;
  --bgColor: #0a0a0b;
}

@font-face {
  font-family: "fontRegular";
  font-display: swap;
  src: url(../webfonts/DINNextLTArabic-Regular.ttf);
}
@font-face {
  font-family: "fontBold";
  font-display: swap;
  src: url(../webfonts/DINNextLTArabic-Bold.ttf);
  font-weight: 900;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: var(--whiteColor);
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  outline: none;
  border-radius: 20px !important;
}

a {
  text-decoration: none;
  transition: var(--transition);
  color: var(--darkColor);
}
a:hover {
  color: var(--mainColor);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}

body {
  overflow-x: hidden !important;
  width: 100vw;
  background: var(--bgColor);
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.6;
  font-family: "fontRegular", sans-serif;
  color: var(--whiteColor);
}

.row {
  margin: 0px;
}

@media (max-width: 768px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

input {
  accent-color: var(--mainColor) !important;
}

::-moz-placeholder {
  font-size: 12px;
  color: #8d8d8d !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #8d8d8d !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: ltr;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}
.fancybox__container * {
  direction: ltr !important;
}

.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.form-select,
.form-control {
  min-height: 40px;
}
.form-select:focus,
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

content {
  min-height: calc(100dvh - 390px);
  display: flex;
  flex-direction: column;
}

footer {
  padding: 40px 0 40px;
  position: relative;
  background-color: var(--darkColor);
  isolation: isolate;
  overflow: hidden;
}
footer::after {
  content: "";
  width: 0px;
  aspect-ratio: 1;
  border-radius: 100%;
  box-shadow: 0px 0px 500px 150px var(--mainColor);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}
footer::before {
  content: "";
  width: 0px;
  aspect-ratio: 1;
  border-radius: 100%;
  box-shadow: 0px 0px 500px 150px var(--mainColor);
  position: absolute;
  bottom: 0%;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}
footer .logo {
  max-height: 40px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  margin-bottom: 16px;
  filter: brightness(0) invert(1);
}
footer .info {
  font-size: 14px;
  color: var(--lightGrayColor);
}
footer .copywriting {
  display: flex;
  margin-top: 24px;
  padding-top: 24px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .copywriting {
    justify-content: space-around;
  }
}
footer .copywriting .hint {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--lightGrayColor);
}
footer .copywriting .hint a {
  font-weight: bold;
}
footer .copywriting .hint a:hover {
  color: var(--mainColor);
}
footer .copywriting .hint a img {
  height: 24px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .social a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--lightGrayColor);
}
footer .social a:hover {
  color: var(--mainColor);
}
footer .social a .icon {
  border: 1px solid var(--mainColor);
  padding: 6px;
  border-radius: 100px;
  width: 28px;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
footer .social a .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: var(--transition);
}
footer .social a:hover {
  margin-right: 8px;
}
footer .group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .group .title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .group .title::after {
  content: "";
  height: 3px;
  width: 32px;
  border-radius: 4px;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 8s linear infinite;
}
footer .group ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 8px;
}
footer .group ul li {
  display: flex;
  align-items: baseline;
  gap: 8px;
  position: relative;
  min-width: 150px;
}
footer .group ul li img {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: var(--transition);
}
footer .group ul li::before {
  content: "";
  height: 2px;
  width: 4px;
  transition: var(--transition);
  border-radius: 4px;
  background: var(--mainColor);
}
footer .group ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--lightGrayColor);
}
footer .group ul li a:hover {
  color: var(--mainColor);
}

.uploadImage {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.uploadImage .uploadImageLabel {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.uploadImage .uploadImageLabel img {
  display: block;
  width: 150px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.uploadImage span {
  position: absolute;
  bottom: 4px;
  left: 12px;
  background-color: var(--whiteColor);
  border-radius: 100%;
  pointer-events: none;
}
.uploadImage span img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.uploadImage input {
  display: none;
}
.uploadImage.wide {
  width: min(100%, 485px);
}
.uploadImage.wide .uploadImageLabel {
  cursor: pointer;
}
.uploadImage.wide .uploadImageLabel img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.uploadImage.wide span {
  bottom: -4px;
  left: -4px;
}

.profile {
  padding: 80px 0;
}
.profile .sideProfile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--lightDarkColor);
  height: 100%;
}
.profile .sideProfile .link {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile .sideProfile .link .icon {
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: var(--darkColor);
  border-radius: 100px;
}
.profile .sideProfile .link .icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0) invert(1);
}
.profile .sideProfile .link.active {
  color: var(--mainColor);
}
.profile .sideProfile .link.active .icon {
  background-color: var(--mainColor);
}
.profile .sideProfile .link.active .icon img {
  filter: brightness(0) invert(1);
}
.profile .sideProfile .link.last {
  margin-top: auto;
}
.profile .contentProfile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--lightDarkColor);
}
.profile .contentProfile .cardForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile .contentProfile .cardForm .pageImage {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .contentProfile .cardForm .des {
  text-align: center;
}
.profile .contentProfile .cardForm .des span {
  color: var(--mainColor);
}
.profile .contentProfile .orders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile .contentProfile .orders .accordion-item {
  background-color: var(--darkColor);
  box-shadow: var(--shadow);
  border: none;
  border-radius: 24px;
}
.profile .contentProfile .orders .accordion-item .accordion-button {
  background-color: var(--darkColor);
  border: none;
  box-shadow: none;
  border-radius: 24px;
  gap: 16px;
  padding: 24px;
}
.profile .contentProfile .orders .accordion-item .accordion-button::after {
  filter: brightness(0) invert(1);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData {
  display: flex;
  gap: 24px 40px;
  width: 100%;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date,
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .orderHead .status {
  flex: 1;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .orderHead {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .orderHead .line {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--lightGrayColor);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .orderHead .line span {
  font-weight: bold;
  color: var(--whiteColor);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .orderHead .line.highlight span {
  color: var(--mainColor);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date .info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--whiteColor);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date .info .icon {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date .progressBar {
  height: 4px;
  width: 100%;
  background-color: var(--lightDarkColor);
  border-radius: 100px;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .date .progressBar .progressLine {
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  border-radius: 100px;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .status {
  display: flex;
  align-items: center;
  color: var(--whiteColor);
  gap: 12px;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .status .icon {
  width: 64px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--mainColor20);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData .status .icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData.shipped .date .progressBar .progressLine {
  background-color: #b67c00;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData.shipped .status .icon {
  background-color: rgba(182, 124, 0, 0.2);
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData.delivered .date .progressBar .progressLine {
  background-color: #00b67c;
}
.profile .contentProfile .orders .accordion-item .accordion-button .shortData.delivered .status .icon {
  background-color: rgba(0, 182, 124, 0.2);
}
.profile .contentProfile .orders .accordion-item .accordion-body {
  border: none;
  padding: 0 24px 24px;
  background-color: var(--darkColor2);
  border-radius: 24px;
}
.profile .contentProfile .orders .accordion-item .accordion-body .info {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px;
}
.profile .contentProfile .orders .accordion-item .accordion-body .info .icon {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .contentProfile .orders .accordion-item .accordion-body .info .text {
  display: flex;
  flex-direction: column;
  color: var(--lightGrayColor);
}
.profile .contentProfile .orders .accordion-item .accordion-body .info .text span {
  color: var(--whiteColor);
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .main {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--mainColor20);
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .main .num {
  padding: 8px;
  background-color: var(--mainColor20);
  border-radius: 100px;
  color: var(--mainColor);
  font-weight: bold;
  font-size: 16px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .main h6 {
  flex: 1;
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .main .price {
  color: var(--mainColor);
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .sub {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .sub p {
  color: var(--lightGrayColor);
}
.profile .contentProfile .orders .accordion-item .accordion-body .orderDetails .sub p span {
  color: var(--whiteColor);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.formGroup label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.formGroup label .icon {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0) invert(1);
}

.form-control {
  background-color: var(--darkColor);
  border: none;
  min-height: 56px;
  border-radius: 12px;
  color: var(--whiteColor) !important;
  direction: rtl !important;
}
.form-control:focus {
  background-color: #000;
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 16px;
  width: 160px;
  margin: auto;
  color: var(--mainColor);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  background-color: #000;
}
.customBtn::after {
  position: absolute;
  content: "";
  height: 1000px;
  width: 0;
  right: 50%;
  transition: var(--transition);
  background: var(--mainColor);
  transform: rotate(-25deg);
  z-index: -1;
}
.customBtn:hover {
  color: #fff;
  border-color: var(--mainColor);
}
.customBtn:hover::after {
  width: 110%;
  right: -10px;
}
.customBtn.rate {
  color: #e29b00;
}
.customBtn.rate::after {
  background: #e29b00;
}
.customBtn.rate:hover {
  color: #fff;
}

.star-rating {
  display: flex;
  gap: 1px;
  justify-content: center;
  margin-bottom: 16px;
}
.star-rating label {
  cursor: pointer;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-rating label img {
  width: 24px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
}
.star-rating label.active img {
  filter: none;
}
.star-rating input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal {
  --bs-modal-bg: var(--lightDarkColor);
}
.modal .modal-header {
  border: none;
}
.modal .btn-close {
  filter: invert(1);
}

.modal-backdrop {
  --bs-backdrop-bg: #353535;
  --bs-backdrop-opacity: 0.8;
}

.otp {
  direction: ltr;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
}
.otp .otp-input {
  min-width: 40px;
  flex: 1;
  height: 64px;
  background-color: var(--darkColor);
  color: var(--mainColor);
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */